{%extends 'base1.html'%} {% block search%}
<br>
<form method="POST">
    {%csrf_token%}
    <textarea cols="80" rows="3" name="srch"></textarea>
    <input type="submit" value="SEARCH">
</form>
<br>
<br> {%endblock%}
<br> {%block Data%} {%for i in pl%}
<div class="col-lg-4 col-md-6 mb-4">
    <div class="card h-100">
        <a href="#"><img class="card-img-top" src="{{i.img}}" alt=""></a>
        <div class="card-body">
            <h4 class="card-title">
                <a href="#">{{i.name}}</a>
            </h4>
            <h5>{{i.price}}&nbsp; &#x20B9</h5>
            <p class="card-text">{{i.description}}</p>
        </div>
        <div class="card-footer">
            <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
        </div>
    </div>
</div>

{%endfor%} {%endblock%}